body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #f5f5f5;
    color: #333;
}

header {
    margin-bottom: 30px;
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 28px;
    margin: 0;
}

section {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 22px;
    margin: 0 0 10px;
    color: #007bff;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

li {
    margin-bottom: 5px;
}

footer {
    margin-top: 30px;
    font-size: 14px;
    color: #777;
}

.conteudo {
    display: none;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
